<html>
</br>
</br>

<h1> Thank you for voting!!! </h1>
<body style="font-size:20px; color:#003366">
</br>
    &#160;&#160;&#160;&#160;Your vote goes to '<b> <%= @name.title %>'</b>!
</br></br>
 &#160;&#160;&#160;&#160;This Band Name has now <%= @name.votesnumber %> votes.
</br></br></br>
<%= link_to 'Back', names_path %>
</body>

</html>
